
h1 {
    font-family: 'PT Serif Caption', serif;
    text-align: center;
 
    display: inline;
}
h2 {
    text-align: center;
}    

h4 {
    display: block;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;

}
.describe {
    font-size: x-large;
    padding: 0px 50px 0px 50px;
    text-indent: 50px;
    text-align: justify;
}

hr.style2 {
    border-top: 3px double #8c8b8b;
    margin-top: 100px;
  }

img {
    display: inline;
    float: left;
    margin-right: 30px;
    margin-left: 20%;
}

div {
    width: 900px;
    margin: auto;
    display: block;
}



iframe {
    display: block;
    margin-top: 10px;
}
@media (max-width: 900px) {
    div {
        width: 300px;
    }
    img {
        float: none;
    }
    h1 {
        width: 300px;
    }
}

@media (max-width: 507px) {
    div {
        width: 200px;
    }
}

